
.login {
    width: 400px;
    height: 80%;
    border: 2px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.login > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: green;
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 92%;
    font-size: 1rem;
}

.login > .button {
    background: rgb(42, 133, 42);
    border: 1px solid rgb(42, 116, 42);
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}