.App {
  display: flex;
  width: 100vw;
  height: 80vh;
  background: url('https://cdn.discordapp.com/attachments/948596391855394826/1108360422790271006/login_page_bg.jpg') center/cover no-repeat; /* Replace 'your-background-image.jpg' with your image path */
  font-family: Arial, sans-serif;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Adjust the margin to shift the form to the left */
  margin-right: auto;
  
}
.title h5{
  font-size:30px;
  text-align:center;
  opacity: 0.8;
  color: #00885a;
  font-size: 80px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}
.title h3{
  text-align:center;
  opacity: 0.8;
  color: black;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 10px;
}